h1 {
  text-align: center;
}
  h1 span {
    display: block;
  }
  h1 .green {
    font-size: 5em;
  }
  h1 .blue {
    font-size: 1em;
  }
.green {
  color: #00b6a5;
}
.blue, a {
  color: #1b75bb;
}

p, ul {
  line-height: 1.6em;
  /*max-width: 600px;*/
  margin: 0 auto 20px auto;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  text-align: left;
}

blockquote {
  color: #999;
  max-width: 550px;
  line-height: 1.6em;
  margin: 0 auto;
  text-align: left;
}
