a.al-icon-circle,
span.al-icon-circle {
    display: inline-block;
    line-height: 0;
    margin: 3px 3px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 0;
    -webkit-transition: background-color .4s ease-out, border-color .4s ease-out;
    -moz-transition: background-color .4s ease-out, border-color .4s ease-out;
    -o-transition: background-color .4s ease-out, border-color .4s ease-out;
    transition: background-color .4s ease-out, border-color .4s ease-out
}
