.comments-area {
    margin: 48px auto;
    max-width: 100%;
    padding: 0 10px
}
.comment-reply-title,
.comments-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 20px
}
.comment-list {
    list-style: none;
    margin: 0 0 70px 0
}
.depth-1 {
    margin-bottom: 20px
}
.comment-author {
    font-size: .85em;
    line-height: 1.7142857142
}
.comment-list .reply,
.comment-metadata {
    font-size: .85em;
    line-height: 2;
    text-transform: uppercase
}
.comment-list .reply {
    margin-top: 30px;
    margin-bottom: 2px;
    padding-bottom: 30px;
    text-align: right
}
.comment-reply-link {
    display: inline-block;
    padding: 7px 30px;
    font-weight: 600;
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    text-transform: uppercase;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
.comment-reply-link:hover {
    color: #48a65b;
    border: 2px solid #48a65b;
    background: 0
}
.comment-author .fn {
    font-weight: 900
}
.comment-author a {
    color: #2b2b2b
}
.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a {
    color: rgba(255, 255, 255, 0.4);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
    color: #41a62a
}
.comment-list article {
    padding-top: 30px;
    padding-right: 30px;
    background: #414f5d
}
.comment-list .pingback,
.comment-list .trackback {
    font-size: .9em;
    padding: 10px 30px
}
.comment-list>li:first-child>article,
.comment-list>.pingback:first-child,
.comment-list>.trackback:first-child {
    border-top: 0
}
.comment-author {
    position: relative
}
.comment-author .avatar {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px;
    position: absolute;
    top: 0;
    left: 25px;
    width: 90px;
    height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}
.says {
    display: none
}
.comment-author,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply,
.comment-metadata {
    padding-left: 140px
}
.comment-edit-link {
    margin-left: 10px
}
.comment-content {
    padding-top: 15px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word
}
.comment-content ul,
.comment-content ol {
    margin: 0 0 24px 22px
}
.comment-content li>ul,
.comment-content li>ol {
    margin-bottom: 0
}
.comment-content>:last-child {
    margin-bottom: 0
}
.comment-list .children {
    list-style: none;
    margin-left: 20px
}
.comment-respond {
    margin-bottom: 24px;
    padding: 0
}
.comment .comment-respond {
    margin-top: 24px
}
.comment-respond h3 {
    margin-top: 0;
    margin-bottom: 15px
}
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
    color: rgba(255, 255, 255, 0.4)
}
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
    font-size: .85em;
    line-height: 1.7142857142
}
.no-comments {
    font-size: .85em;
    font-weight: 900;
    line-height: 1.5;
    margin-top: 24px;
    text-transform: uppercase
}
.comment-form label {
    display: block
}
.comment-respond input,
.comment-respond textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5)
}
.comment-respond input {
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
    padding: 22px;
    background: rgba(0, 0, 0, 0.12);
    border: 0;
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15)
}
.comment-respond #submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: auto;
    padding: 22px 60px;
    color: #d7d7d7;
    background: #48a65b;
    border: 2px solid #48a65b;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
.comment-respond textarea {
    width: 100%;
    max-width: 600px;
    height: 250px;
    padding: 22px;
    background: rgba(0, 0, 0, 0.12);
    border: 0;
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15)
}
.comment-respond #submit:hover {
    background: #56c16b;
    border: 2px solid #56c16b
}
.form-allowed-tags,
.form-allowed-tags code {
    line-height: 1.5;
    max-width: 600px
}
.comment-reply-title small a {
    color: #2b2b2b;
    float: right;
    height: 24px;
    overflow: hidden;
    width: 24px
}
.comment-reply-title small a:hover {
    color: #41a62a
}
.comment-navigation {
    font-size: .85em;
    line-height: 2;
    margin-bottom: 48px;
    text-transform: uppercase
}
.comment-navigation .nav-next,
.comment-navigation .nav-previous {
    display: inline-block
}
.comment-navigation .nav-previous a {
    margin-right: 10px
}
#comment-nav-above {
    margin-top: 36px;
    margin-bottom: 0
}

.fa > .label{
  display: none;
}
