
  .time-count-container {
      min-height: 200;
      /*margin-top: 30px;*/
  }
  .time-box {
      width: 100px;
      height: 100px;
      display: table;
      border: 2px solid #fff;
      /*margin: 20px auto;*/
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  .time-box-inner {
      width: 150px;
      height: 150px;
      display: table;
      text-align: center;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
  .time-number {
      font-size: 65px;
      width: 100%;
      display: inline-block;
      font-weight: 300;
      padding-top: 15%;
      -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
  }
  .time-number .digit {
      line-height: 60px;
      display: inline-block;
      overflow: hidden;
  }
  .time-name {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 700;
  }
  .time-until {
      text-align: center;
      margin: 0;
  }
  .time-until > span > a {
      text-decoration: none;
  }
  .time-until span {
      color: #fff;
      font-size: 18px;
      line-height: 40px;
      display: inline-block;
      background-color: #3498db;
      text-transform: uppercase;
      padding: 0px 15px;
  }
