.ie8-visible {
    display: block!important
}
#contact-form .ie8-visible {
    max-width: 644px!important;
    margin: 0 auto!important
}
#contact-form .ie8-submit {
    display: block;
    max-width: 644px;
    margin: 0 auto
}
.span_8 .device-slider ul li img {
    width: 615px!important;
    height: 385px!important
}
#al-page-preloader {
    display: none!important
}
input.text {
    color: #d7d7d7;
    background: url('../img/ie_transparent_background.png') repeat
}
textarea {
    color: #d7d7d7;
    background: url('../img/ie_transparent_background.png') repeat
}
.quote-slider li {
    padding-bottom: 90px
}
.quote-slider .quote-image {
    width: 200px;
    height: 200px
}
