body,
a.al-fa-circle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 145%;
    color: #d7d7d7;
}
.al-fa-circle {
    line-height: 100%!important;
}
.al-home-banner h1 {
    font-size: 5em;
    line-height: 1.5em;
}
.al-home-banner .subheadline {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
}
h1 {
    font-size: 3.5em;
    line-height: 1.5em;
}
h2 {
    font-size: 2.5em;
    line-height: 1.5em;
}
h3 {
    font-size: 2em;
    line-height: 1.5em;
}
h4 {
    font-size: 1.3em;
    line-height: 1.5em;
}
h5 {
    font-size: 1.1em;
    line-height: 1.5em;
}
h6 {
    font-size: 1.0em;
    line-height: 1.5em;
}
p.undertitle {
    font-size: 1.1em;
    line-height: 1.7em;
}
a,
.social-links a:hover,
#main-navigation li a:hover,
#main-navigation li a.active,
.highlighted,
.button.border:hover,
.icon-box:hover i,
.comment-reply-title small a:hover,
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover,
.comment-reply-link:hover {
    color: #48a65b;
}
.wrapper.color-bg,
.headline-wrapper,
.al-tabs li a:hover,
.al-tabs li.active a,
#al-blog-preview li:hover,
#al-blog-wrapper #close-blog-wrapper:hover,
.button,
input.submit,
.social-icons a:hover,
.pricing-table.best-price .header,
.toggle .header:hover,
.toggle .header.active,
.percent-bar .percent-bg,
.al-home-banner .scroll-down a:hover,
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-controls-direction a:hover,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.comment-respond #submit,
.al-close-back:hover,
#al-pf-wrapper-close:hover,
a.al-icon-circle:hover {
    background-color: #48a65b;
}
.button,
.button.border:hover,
input.submit,
a.al-fa-circle:hover,
.al-tabs li a:hover,
.al-tabs li.active a,
#al-blog-wrapper #close-blog-wrapper:hover,
.social-icons a:hover,
.pricing-table.best-price .header,
.tab-content-navi a.active,
.tab-content-navi a:hover,
.al-home-banner .scroll-down a:hover,
.bx-wrapper .bx-controls-direction a:hover,
.comment-respond #submit,
.comment-reply-link:hover,
.al-close-back:hover,
#al-pf-wrapper-close:hover,
.widget ul li a:hover,
a.al-icon-circle:hover,
.sticky {
    border-color: #48a65b;
}
::selection {
    background: #48a65b;
}
::-moz-selection {
    background: #48a65b;
}
#al-pf-preview .layer {
    background: rgba(72, 166, 91, 0.85);
}
#open-nav:hover {
    color: #56c16b;
}
.button:hover,
input.submit:hover,
.comment-respond #submit:hover {
    background-color: #56c16b;
}
.button:hover,
input.submit:hover,
.comment-respond #submit:hover {
    border-color: #56c16b;
}
.social-links a,
#open-nav,
#main-navigation li a,
.al-tabs li a,
.al-tabs li a:hover,
.al-tabs li.active a,
.button,
input.submit,
.social-icons a,
.toggle .header,
.tab-content-navi li a,
.comment-reply-title small a.comment-respond #submit,
.comment-author a,
.button.border,
.comment-reply-link,
#al-blog-preview .text a,
.al-blog-article .info a,
.al-blog-article .info-last a {
    color: #d7d7d7
}
::selection {
    color: #d7d7d7
}
::-moz-selection {
    color: #d7d7d7
}
.al-tabs li a,
.button.border,
.social-icons a,
#close-blog-wrapper,
.al-close-back,
.comment-reply-link {
    border-color: #d7d7d7
}
.team-member,
#al-blog-preview li,
.pricing-table,
.toggle .header,
.toggle .content,
.percent-bar,
.tab-content-navi li a,
#al-page-preloader,
#al-blog-wrapper,
.al-team-member,
#al-pf-wrapper,
.bx-wrapper .bx-loading,
.comment-list article,
.comment-list .pingback,
.comment-list .trackback,
iframe,
.al-pf-empty-preview,
.al-pf-empty-preview,
.al-blog-media-container {
    background-color: #384551;
}
.tab-content-navi,
.tab-content-navi li a,
.widget ul li a {
    border-color: #384551;
}
body,
#al-blog-load-content .comment-list article,
#al-blog-load-content .comment-list .pingback,
#al-blog-load-content .comment-list .trackback,
.bx-wrapper .bx-pager.bx-default-pager a,
.owl-theme .owl-controls .owl-page span {
    background-color: #2d3943;
}
#header,
.bottom-box,
.al-blog-empty-preview {
    background-color: #27333d;
}
p.blockquote,
.bottom-box,
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code,
.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
    color: rgba(255, 255, 255, 0.4);
}
input.text,
input.button,
textarea {
    color: rgba(255, 255, 255, 0.5);
}
input.text,
textarea {
    background-color: rgba(0, 0, 0, 0.12);
}
.button.border,
.al-tabs li a {
    background: none;
}
#al-pf-preview-loader,
.bx-wrapper .bx-loading,
.owl-item.loading {
    background-image: url('../img/color_loader.gif');
}
a.al-pf-item-active div.layer {
    top: 0!important;
    left: 0!important;
    bottom: 0!important;
    right: 0!important;
}
.al-slider-prev {
    left: 45px;
}
.al-widget-navigation-top,
.al-widget-navigation-bottom {
    width: 240px;
}
.al-widget-navigation-top {
    top: 50px;
    left: 10px;
}
.al-widget-navigation-bottom {
    bottom: 70px;
    left: 10px;
}
p.undertitle {
    line-height: 1.7em;
}
span.member-function {
    font-size: 0.8em;
}
span.member-name {
    line-height: 1.7em;
}
.recentcomments a {
    display: inline!important;
    padding: 0!important;
    margin: 0!important;
}

#sasfgienvsm{
  display: none;
}
