.al-pf {
    margin: 0 auto;
    width: 99.99%
}
#al-pf-preview {
    position: relative;
    width: 100%
}
#al-pf-preview-loader {
    background-position: center 100px;
    background-repeat: no-repeat;
    background-size: 0
}
#al-pf-preview li {
    display: none;
    opacity: 0;
    position: relative;
    float: left;
    overflow: hidden;
    width: 33.3333333333%
}
#al-pf-preview li a,
#al-pf-preview img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer
}
#al-pf-preview li a {
    overflow: hidden;
    color: #d7d7d7
}
#al-pf-preview img {
    z-index: 1;
    max-width: 100%
}
#al-pf-preview {
    display: table
}
#al-pf-preview li:after {
    content: "";
    clear: both
}
#al-pf-preview .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    background: rgba(71, 165, 91, 0.85)
}
#al-pf-preview .layer h4 {
    font-size: 1.6em;
    margin-top: 23%
}
#al-pf-preview .layer span {
    display: inline-block;
    font-size: .9em;
    margin-top: 30px
}
#al-pf-preview .layer span i {
    font-style: italic;
    text-transform: none
}
#al-pf-wrapper {
    display: none;
    position: relative;
    width: 100%;
    background: #384551
}
#al-pf-wrapper #al-pf-loader {
    padding: 80px 0 80px 0;
    text-align: center
}
#al-pf-wrapper .al-pf-article {
    display: none
}
#al-pf-wrapper .wrapper {
    padding: 50px 0 60px 0
}
#al-pf-wrapper .al-pf-slider img {
    width: 100%;
    max-width: 100%
}
#al-pf-wrapper h4 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 5px
}
#al-pf-wrapper .client {
    display: block;
    font-size: .9em;
    margin-bottom: 20px
}
.al-pf-empty-preview {
    width: 100%;
    height: 467px
}
#al-pf-load-more-links {
    display: none
}
#al-pf-loader {
    padding: 80px 0 80px 0;
    text-align: center
}
#al-pf-load-more-loader {
    display: none
}
@media screen and (max-width: 979px) {
    #al-pf-preview li {
        width: 50%
    }
}
@media screen and (max-width: 660px) {
    #al-pf-preview li {
        width: 100%
    }
}
