div.block {
    display: block
}
.button {
    display: inline-block;
    padding: 20px 60px;
    color: #d7d7d7;
    background: #48a65b;
    border: 2px solid #48a65b;
    font-size: .95em;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    margin: 0 0 15px 0
}
.button.button-inline {
    margin: 2px 2px
}
.button.medium {
    padding: 10px 30px;
    font-size: .85em
}
.button.small {
    padding: 5px 15px;
    font-size: .75em
}
.button.border {
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    background: 0
}
.button:hover {
    background: #56c16b;
    border: 2px solid #56c16b
}
.button.border:hover {
    color: #48a65b;
    border: 2px solid #48a65b;
    background: 0
}
.hr {
    width: 100%;
    height: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.15)
}
.hr.margin {
    margin: 80px 0
}
input.text,
input.button,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
    font-size: .85em
}
input.text {
    width: 80%;
    max-width: 600px;
    padding: 22px;
    background: rgba(0, 0, 0, 0.12);
    border: 0;
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15)
}
input.submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    padding: 22px 60px;
    color: #d7d7d7;
    background: #48a65b;
    border: 2px solid #48a65b;
    font-size: .85em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
textarea {
    width: 80%;
    max-width: 600px;
    height: 250px;
    padding: 22px;
    background: rgba(0, 0, 0, 0.12);
    border: 0;
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15)
}
input.submit:hover {
    background: #56c16b;
    border: 2px solid #56c16b
}
.social-icons {
    margin-top: 30px
}
.social-icons a {
    display: inline-block;
    margin: 0 3px;
    width: 60px;
    height: 60px;
    line-height: 57px;
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    text-align: center;
    font-size: 1.3em;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}
.social-icons a:hover {
    background: #48a65b;
    border: 2px solid #48a65b
}
.icon-box {
    text-align: center
}
.icon-box i {
    font-size: 10em;
    margin-bottom: 20px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}
.icon-box:hover i {
    margin-top: -25px;
    color: #48a65b
}
.device-slider-outer {
    position: relative;
    width: 100%
}
.device-slider-outer .device-img {
    width: 100%;
    z-index: 1
}
.device-slider-outer .bx-wrapper {
    position: absolute;
    z-index: 2
}
.device-slider .owl-item img {
    width: 100%;
    max-width: 100%
}
.device-slider-outer.phone {
    max-width: 300px;
    margin: 0 auto
}
.device-slider.phone.bx-wrapper {
    top: 13%;
    margin: 0 8.5%;
    width: 83%
}
.device-slider.phone .owl-pagination {
    position: relative;
    bottom: 42px
}
.device-slider .owl-buttons {
    display: none
}
.device-slider.notebook .owl-pagination {
    position: relative;
    bottom: 42px
}
.device-slider.notebook.bx-wrapper {
    top: 7%;
    margin: 0 11.5%;
    width: 77%
}
.quote-slider .owl-item {
    padding-bottom: 50px;
    margin: 0!important;
    text-align: center;
    font-size: .85em
}
.quote-slider .owl-buttons {
    display: none
}
.quote-image {
    margin: 0 auto;
    max-width: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px
}
.quote-author {
    display: block;
    padding: 20px 0 30px 0;
    font-size: .9em
}
.quote-comment {
    font-size: 1.3em;
    line-height: 1.7em;
    font-style: italic
}
.carousel {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block
}
.carousel:after {
    content: "";
    display: table;
    clear: both
}
.carousel li {
    display: block;
    margin: 0 20px 0 20px;
    float: left
}
.carousel li img {
    width: 100%;
    height: auto
}
.al-client-carousel {
    margin-top: 40px
}
.al-client-carousel img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto
}
.al-client-carousel div {
    text-align: center
}
.al-client-carousel div a {
    opacity: .5;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}
.al-client-carousel div a:hover {
    opacity: 1
}
.pricing-table {
    text-align: center;
    background: #384551;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}
.pricing-table ul,
.pricing-table ol {
    list-style-type: none
}
.pricing-table:hover {
    margin-top: -25px;
    margin-bottom: 25px
}
.pricing-table span {
    display: block
}
.pricing-table .header {
    padding: 35px 0 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35)
}
.pricing-table h3 {
    margin-bottom: 20px;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1
}
.pricing-table .price {
    font-weight: 300;
    font-size: 2.8em;
    line-height: 1.7em
}
.pricing-table .content {
    padding: 30px 0
}
.pricing-table ul li {
    margin: 15px 0;
    font-size: .85em
}
.pricing-table .footer {
    padding: 40px 0
}
.pricing-table.best-price .header {
    background: #48a65b;
    border-bottom: 1px solid #48a65b
}
.pricing-table.best-price .price {
    font-weight: 600
}
.toggle {
    margin-bottom: 2px
}
.toggle .header {
    display: block;
    padding: 0;
    background: #384551;
    color: #d7d7d7;
    line-height: 1;
    font-weight: 600;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}
.toggle .header:hover {
    background: #48a65b
}
.toggle .header.active {
    background: #48a65b
}
.toggle .header .icon {
    display: inline-block;
    padding: 20px 0;
    width: 30px;
    text-align: center
}
.toggle .header .icon.minus {
    display: none
}
.toggle .header .text {
    display: inline-block;
    font-size: .9em
}
.toggle .content {
    display: none;
    padding: 20px 30px;
    background: #384551;
    font-size: .85em
}
.toggle .content p {
    font-size: 1em
}
.percent-bar {
    position: relative;
    height: 50px;
    margin-bottom: 2px;
    background: #384551
}
.percent-bar:after {
    content: "";
    display: table;
    clear: both
}
.percent-bar span {
    display: block;
    position: absolute;
    font-size: .85em;
    line-height: 50px
}
.percent-bar .skill {
    top: 0;
    left: 15px;
    font-weight: 600;
    z-index: 2
}
.percent-bar .number {
    top: 0;
    right: 15px;
    z-index: 2
}
.percent-bar .percent-bg {
    top: 0;
    left: 0;
    height: 100%;
    background: #48a65b;
    z-index: 1
}
.facts {
    margin: 20px 0 0 0;
    line-height: 1.2;
    text-align: center
}
.facts .icon-number {
    font-size: 4em
}
.facts .icon-number .number {
    display: inline-block
}
.facts .text {
    padding: 5px 0 0 0;
    font-size: 1.2em
}
.tab-content-navi {
    border-top: 2px solid #384551;
    border-bottom: 2px solid #384551
}
.tab-content-navi li:last-child {
    margin-bottom: 0
}
.tab-content-navi li {
    margin-bottom: 2px
}
.tab-content-navi li a {
    display: block;
    width: 100%;
    padding: 20px;
    color: #d7d7d7;
    line-height: 1;
    font-size: .9em;
    font-weight: 600;
    background: #384551;
    border-left: 4px solid #384551;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}
.tab-content-navi a.active {
    background: 0;
    border-left: 4px solid #48a65b
}
.tab-content-navi a:hover {
    border-left: 4px solid #48a65b
}
.tab-content {
    display: none
}
.entry-content img,
.comment-content img,
.widget img {
    max-width: 97.5%
}
img[class*="align"],
img[class*="wp-image-"] {
    height: auto
}
img.size-full {
    max-width: 97.5%;
    width: auto
}
.callout-box {
    position: relative;
    padding: 40px 30px;
    border-left: 4px solid #48a65b;
    margin-bottom: 30px;
    background: #384551;
    text-align: center
}
.callout-box:after {
    content: "";
    display: table;
    clear: both
}
.callout-box h3 {
    margin-bottom: 5px
}
.callout-box p {
    margin: 0 auto 25px auto
}
.callout-box a {
    margin-top: 8px
}
.alert-box {
    position: relative;
    margin-bottom: 30px;
    padding: 15px 60px 15px 30px;
    font-size: .9em;
    background: #384551
}
.alert-box .close {
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
    padding: 10px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
.alert-box .close:hover {
    cursor: pointer;
    color: #d7d7d7!important
}
.alert-box.error {
    color: #cb4545;
    border-left: 4px solid #cb4545
}
.alert-box.error .close {
    color: #cb4545
}
.alert-box.warning {
    color: #cec25f;
    border-left: 4px solid #cec25f
}
.alert-box.warning .close {
    color: #cec25f
}
.alert-box.success {
    color: #48a65b;
    border-left: 4px solid #48a65b
}
.alert-box.success .close {
    color: #48a65b
}
.alert-box.notice {
    color: #9f9f9f;
    border-left: 4px solid #9f9f9f
}
.alert-box.notice .close {
    color: #9f9f9f
}
a.al-fa-circle,
span.al-fa-circle {
    display: inline-block;
    line-height: 0;
    margin: 3px 3px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}
a.al-fa-circle:hover {
    background: #48a65b;
    border-color: #48a65b
}
.tab-content-navi {
    border-top: 2px solid #384551;
    border-bottom: 2px solid #384551
}
.tab-content-navi li:last-child {
    margin-bottom: 0
}
.tab-content-navi li {
    margin-bottom: 2px
}
.tab-content-navi li a {
    display: block;
    width: 100%;
    padding: 20px;
    color: #d7d7d7;
    line-height: 1;
    font-size: .9em;
    font-weight: 600;
    background: #384551;
    border-left: 4px solid #384551;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}
.tab-content-navi a.active {
    background: 0;
    border-left: 4px solid #48a65b
}
.tab-content-navi a:hover {
    border-left: 4px solid #48a65b
}
.tab-content {
    display: none
}
