html{
  overflow: hidden;
}
.jumbotron{
  padding-top: 5px;
  padding-bottom: 0px;
}
iframe{
  height: 500px;
  width: 1000px;
  overflow: hidden;
}
@media screen and (min-width: 768px){
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    width: 75px;
    height: 75px;
    margin-top: -30px;
    font-size: 30px;
  }
}
#selfintro{
  text-align: right;
  align-content: center;
}
.fixedlocation a{
  text-decoration: none;
  padding-right: 1em;
  color: #337ab7;
}
.fa > .label {
  display: none;
}
.fixedlocation {
  z-index: 51;
  position: fixed;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  left: 0px;
  padding: 1em;
  text-align: center;
  opacity: 0.8;
}
body {
  font-family: 'Open Sans', Lucida Grande, Lucida Sans, Tahoma, sans-serif;
}
.carousel-control{
  top: 50%;
}
.navbar{
  margin-bottom: 0px;
}
