
/*PleaseWaitJS*/
body > .inner {
  display: none;
}
body.pg-loaded > .inner {
  display: block;
}
.pg-loading-logo{
  border-radius: 50%;
}
/*PleaseWaitJS*/

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

html{
  overflow-x: hidden;
}
.jumbotron{
  padding-top: 1.25em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  background-color: inherit;
}
iframe{
  height: 300px;
  width: 1000px;
  overflow: hidden;
  max-width: 100%;
  max-height: 25%;
}
@media screen and (min-width: 768px){
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    width: 75em;
    height: 75em;
    margin-top: -3em;
    font-size: 3em;
  }
}
#selfintro{
  text-align: right;
  align-content: center;
}
.fixedlocation a{
  text-decoration: none;
  padding-right: 1em;
  color: #337ab7;
}
.fa > .label {
  display: none;
}
.fixedlocation {
  z-index: 512;
  /* always stay on top */
  position: fixed;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  left: 0em;
  padding: 1em;
  text-align: center;
  opacity: 0.8;
}
.carousel-control{
  top: 50%;
}
.navbar{
  margin-bottom: 0em;
}
.table > thead > tr > th {
  text-align: center;
}
img{
  max-width: 100%;
  max-height: 25%;
}
.navbar-fixed-top{
  z-index: 256;
}
