#al-team li {
    display: none;
    margin-bottom: 3%
}
.al-team-member span {
    display: block
}
.al-team-member {
    height: 100%;
    padding: 0 0 25px 0;
    text-align: center;
    background: #384551;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}
.al-team-member:hover {
    margin-top: -25px;
    margin-bottom: 25px
}
.al-team-member .member-img {
    width: 100%;
    max-width: 100%
}
.al-team-member .member-name {
    padding: 20px 0 0 0;
    font-size: 1.6em;
    font-style: italic;
    line-height: 1.7em
}
.al-team-member .member-function {
    padding: 0 0 30px 0;
    text-transform: uppercase;
    font-size: .8em
}
.al-team-member .member-description {
    max-width: 100%;
    padding: 0 10px 10px 10px
}
