<link rel="stylesheet" href="css/github-widget.css" type="text/css">
<!-- https://github.com/surbhioberoi/github-widget -->

<div class="container">
  <div class='row'>
      <div class='col-sm-4 col-md-4 col-xs-4 col-lg-4'>
          <h4>My Achievements</h4>
          <ul class='list=group'>
              <li class='list-group-item'>
                  <a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/PnE_UX--June_2016)">
                      Developed the complete web application for the product Keito. The project is open sourced and the code is available on <a href="https://github.com/SpEcHiDe/PnE">GitHub</a>.
                  </a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/github-developer-7/Certificate')">github-developer-7/Certificate</a>
              </li>
              <li class='list-group-item'>
                <a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/ICFOSS_IoT--June_2015')">
                  Developed a FxOS web application to automate the monitoring of water usage in households. The project is open sourced and code is available on <a href="https://github.com/SpEcHiDe/SEM">GitHub</a>.
                </a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/tathva14/EthicalHackingAndCyberSecurity')">tathva14/EthicalHackingAndCyberSecurity</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/tathva14/TuxOfWar')">Secured first position in Tux of War – Shell scripting contest held during Tathva 2014 at National Institute of Technology, Calicut</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_08/BASKETBALL')">Class_08/BASKETBALL</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_08/FOOTBALL')">Class_08/FOOTBALL</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_08/VOLLEYBALL')">Class_08/VOLLEYBALL</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_08/ARTSQ2008')">Class_08/ARTSQ2008</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_07/JCFC2008')">Participated in Mumbai FCs Junior Champs Football championship</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_07/BASKETBALL')">Class_07/BASKETBALL</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_07/FOOTBALL')">Class_07/FOOTBALL</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_06/AISMTA')">Class_06/AISMTA</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_06/9NSO')">Class_06/9NSO</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_04/7NSO')">Class_04/7NSO</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_04/4NCO')">Class_04/4NCO</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_03/CompuGen')">Class_03/CompuGen</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_03/6NSO')">Class_03/6NSO</a>
              </li>
              <li class='list-group-item'><a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/img/achievements/index.php/Class_02/CompuGen')">Class_02/CompuGen</a>
              </li>
          </ul>
      </div>
      <div class='col-sm-4 col-md-4 col-xs-4 col-lg-4'>
        <h4>My GitHub status</h4>
        <!-- https://github.com/surbhioberoi/github-widget -->
        <div class="github-widget" data-username="SpEcHiDe">
          <div class="continer">
              <div class="item photo"></div>
              <div class="item personal-details"></div>
          </div>
          <div class="continer stats"></div>
          <hr>
          <div class="continer">
              <div class="item heading">Top repositories</div>
          </div>
          <div class="repositories"></div>
          <div class="continer">
              <div class="item follow"></div>
              <div class="item active-time"></div>
          </div>
        </div>
        <!-- https://github.com/surbhioberoi/github-widget -->
      </div>
      <div class='col-sm-4 col-md-4 col-xs-4 col-lg-4'>
          <h4>Other Scanned Documents</h4>
          <ul class='list=group'>
              <li class='list-group-item'>
                <a class="SplLinks" onclick="PreviewURL('https://cv.shrimadhavuk.me/')">
                  About ME in a Formal Way!
                </a>
              </li>
              <!--<li class='list-group-item'>
                <a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/spechide/viewer.php?t=g&d=0&D=HIDE&q=https://spechide-spechide.rhcloud.com/img/gradecards/Class_10.pdf')">
                  Class 10 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/spechide/viewer.php?t=g&d=0&D=HIDE&q=https://spechide-spechide.rhcloud.com/img/gradecards/Class_12.pdf')">
                  Class 12 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/spechide/viewer.php?t=g&d=0&D=HIDE&q=https://spechide-spechide.rhcloud.com/img/gradecards/B.Tech/S1.pdf')">
                  B.Tech: S1 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/spechide/viewer.php?t=g&d=0&D=HIDE&q=https://spechide-spechide.rhcloud.com/img/gradecards/B.Tech/S2.pdf')">
                  B.Tech: S2 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/spechide/viewer.php?t=g&d=0&D=HIDE&q=https://spechide-spechide.rhcloud.com/img/gradecards/B.Tech/S3.pdf')">
                  B.Tech: S3 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/spechide/viewer.php?t=g&d=0&D=HIDE&q=https://spechide-spechide.rhcloud.com/img/gradecards/B.Tech/S4.pdf')">
                  B.Tech: S4 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/spechide/viewer.php?t=g&d=0&D=HIDE&q=https://spechide-spechide.rhcloud.com/img/gradecards/B.Tech/S5.pdf')">
                  B.Tech: S5 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a class="SplLinks" onclick="PreviewURL('https://spechide-spechide.rhcloud.com/spechide/viewer.php?t=g&d=0&D=HIDE&q=https://spechide-spechide.rhcloud.com/img/gradecards/B.Tech/S6.pdf')">
                  B.Tech: S6 GradeCard
                </a>
              </li>-->
          </ul>
      </div>
  </div>
</div>

<!-- https://github.com/surbhioberoi/github-widget -->
<script src="js/github-widget.js"></script>
