<style>
    a,
    a:hover {
        text-decoration: none
    }
    .continer {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        align-items: center;
        justify-content: center;
        color: #333;
    }
    .personal-details .bio,
    .stats .count {
        color: #4078C0
    }
    .github-widget {
        border: 1px solid #DDD;
        max-width: 350px
    }
    .item {
        flex: 1;
        text-align: center;
        padding: 10px
    }
    .repositories .language,
    .repositories .stars {
        text-align: left
    }
    .repositories .language div,
    .repositories .stars div {
        padding: 5px 0
    }
    .photo {
        flex: 2
    }
    .photo img {
        border-radius: 100%;
        max-width: 90px
    }
    .personal-details {
        flex: 6
    }
    .personal-details .full-name {
        font-size: 1.5em;
        line-height: 1.5em
    }
    .personal-details .location {
        font-size: .8em
    }
    .stats .count {
        font-size: 1.2em;
        font-weight: 700
    }
    .repositories .names {
        flex: 2;
        text-align: left
    }
    .repositories .names div {
        padding: 5px 0;
        text-overflow: ellipsis
    }
    .follow {
        flex: 2
    }
    .active-time {
        flex: 4;
        font-size: .8em
    }
    .heading {
        font-weight: 400;
        color: #666
    }
    hr {
        border: 1px solid #DDD
    }
    a {
        color: #4078C0
    }
    .follow button {
        width: 100%;
        height: 2em;
        border: none;
        background: #ddd
    }
</style>

<div class="container">
  <div class='row'>
      <div class='col-sm-4 col-md-4 col-xs-4 col-lg-4'>
          <h4>My Achievements</h4>
          <ul class='list=group'>
              <li class='list-group-item'><a href='http://bit.ly/2a3R0VG'>Pencil And Erasers - Intern-UX</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3QVBi'>github-developer-7/Certificate</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3QUxl'>International Center for Free and Open Source Software</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3R8V7'>tathva14/EthicalHackingAndCyberSecurity</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3P9Am'>tathva14/TuxOfWar</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3Qk2F'>Class_08/BASKETBALL</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3Qk2B'>Class_08/FOOTBALL</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3QiaP'>Class_08/VOLLEYBALL</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3Qkjc'>Class_08/ARTSQ2008</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2ar9qTF'>Class_07/JCFC2008</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2ar9DpX'>Class_07/BASKETBALL</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3QQxF'>Class_07/FOOTBALL</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3Qirv'>Class_06/AISMTA</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3QLdi'>Class_06/9NSO</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2ar9ens'>Class_04/7NSO</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3QWFm'>Class_04/4NCO</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2ar9rqA'>Class_03/CompuGen</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2a3Rc7j'>Class_03/6NSO</a>
              </li>
              <li class='list-group-item'><a href='http://bit.ly/2ar8RcF'>Class_02/CompuGen</a>
              </li>
          </ul>
      </div>
      <div class='col-sm-4 col-md-4 col-xs-4 col-lg-4'>
        <h4>My GitHub status</h4>
        <!-- https://github.com/surbhioberoi/github-widget -->
        <div class="github-widget" data-username="SpEcHiDe">
          <div class="continer">
              <div class="item photo"></div>
              <div class="item personal-details"></div>
          </div>
          <div class="continer stats"></div>
          <hr>
          <div class="continer">
              <div class="item heading">Top repositories</div>
          </div>
          <div class="repositories"></div>
          <div class="continer">
              <div class="item follow"></div>
              <div class="item active-time"></div>
          </div>
        </div>
        <!-- https://github.com/surbhioberoi/github-widget -->
      </div>
      <div class='col-sm-4 col-md-4 col-xs-4 col-lg-4'>
          <h4>Other Scanned Documents</h4>
          <ul class='list=group'>
              <li class='list-group-item'>
                <a href='http://bit.ly/specsume'>
                  About ME in a Formal Way!
                </a>
              </li>
              <!--<li class='list-group-item'>
                <a href='http://bit.ly/2ad7qNQ'>
                  Class 10 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a href='http://bit.ly/2ar9XVO'>
                  Class 12 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a href='http://bit.ly/29ZVWtI'>
                  B.Tech: S1 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a href='http://bit.ly/2ad7I7v'>
                  B.Tech: S2 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a href='http://bit.ly/2a5gDte'>
                  B.Tech: S3 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a href='http://bit.ly/2a5g2YJ'>
                  B.Tech: S4 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a href='http://bit.ly/2ad7mhh'>
                  B.Tech: S5 GradeCard
                </a>
              </li>
              <li class='list-group-item'>
                <a href='http://bit.ly/2a5gF4w'>
                  B.Tech: S6 GradeCard
                </a>
              </li>-->
          </ul>
      </div>
  </div>
</div>

<!-- https://github.com/surbhioberoi/github-widget -->
<script src="js/github-widget.js"></script>
