<div class="container">

	<link rel="stylesheet" type="text/css" href="css/timeline.css" />
	<!--[if lte IE 7]><style>.support-note .note-ie{display:block;}</style><![endif]-->

	<section class="main">

		<ul class="timeline">

			<li class="event">
				<input type="radio" name="tl-group" checked/>
				<label></label>
				<div class="thumb user-4"><span>2013 - 2017</span></div>
				<div class="content-perspective">
					<div class="content">
						<div class="content-inner">
							<h3>National Institute of Technology, Calicut</h3>
							<p>Computer Science and Engineering at National Institute of Technology, Calicut</p>
						</div>
					</div>
				</div>
			</li>

			<li class="event">
				<input type="radio" name="tl-group"/>
				<label></label>
				<div class="thumb user-2"><span>2009 - 2013</span></div>
				<div class="content-perspective">
					<div class="content">
						<div class="content-inner">
							<h3>Amrita Vidyalayam, Palakkad</h3>
							<p></p>
						</div>
					</div>
				</div>
			</li>

			<li class="event">
				<input type="radio" name="tl-group"/>
				<label></label>
				<div class="thumb user-3"><span>2007 - 2009/span></div>
				<div class="content-perspective">
					<div class="content">
						<div class="content-inner">
							<h3>Rajhans Vidyalaya, Andheri(W)</h3>
							<p></p>
						</div>
					</div>
				</div>
			</li>

			<li class="event">
				<input type="radio" name="tl-group"/>
				<label></label>
				<div class="thumb user-2"><span>2001 - 2007</span></div>
				<div class="content-perspective">
					<div class="content">
						<div class="content-inner">
							<h3>Amrita Vidyalayam, Palakkad</h3>
							<p></p>
						</div>
					</div>
				</div>
			</li>

			<li class="event">
				<input type="radio" name="tl-group"/>
				<label></label>
				<div class="thumb user-1"><span>1999 - 2001</span></div>
				<div class="content-perspective">
					<div class="content">
						<div class="content-inner">
							<h3></h3>
							<p></p>
						</div>
					</div>
				</div>
			</li>

		</ul>
	</section>

</div>
