<div class="jumbotron text-center">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <iframe class="embed-responsive-item" src="partials/intro_anime.html" scrollable="no">
        </iframe>
      </div>
      <div class="item">
        <div class="container-fluid" style="height: 500px;width: 1000px;">
            <div class="row">
              <div class="col-sm-6">
                <img src="img/photo.jpg" alt="ME" title="Shrimadhav U K" class="embed-responsive-item">
              </div>
              <br><br><br><br><br>
              <div class="col-sm-6" id="selfintro">
                  I am Shrimadhav U K, currently studying Computer Science and Engineering at
                  National Institute of Technology, Calicut.
                  <br>
                  You can know more about me by stalking me here!
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
