<link rel='stylesheet' href='css/projects.css'>

<div class='container-fluid text-center'>


	<div class='cd-intro-block'>
		<div class='content-wrapper'>
			<h1>I've made some stuff that people are using!</h1>
			<a href='' class='cd-btn' data-action='show-projects'>See All</a>
		</div>
    <!--
    <div class='form-group'>
      <input type='text' name='search' id='search' class='form-control' placeholder=' | Search for MY projects! | enter your search query here: ' onkeyup='searchProjects(this.value)'>
    </div>
    -->
	</div>

  <div id='outputProjects'></div>

	<div class='cd-projects-wrapper'>

		<ul class='cd-slider'>
      <li>
				<a href='#project-1'>
					<img src='img/tshare.png' alt='project image'>
					<div class='project-info'>
						<h2>dfggd</h2>
						<p>efefe</p>
					</div>
				</a>
			</li>

      <li>
				<a href='#project-2'>
					<img src='img/tshare.png' alt='project image'>
					<div class='project-info'>
						<h2>dfggd</h2>
						<p>efefe</p>
					</div>
				</a>
			</li>
		</ul>

		<ul class='cd-slider-navigation cd-img-replace'>
			<li><a href='#0' class='prev inactive'>Prev</a></li>
			<li><a href='#0' class='next'>Next</a></li>
		</ul>

	</div>

  <div class='cd-project-content' id='project-1'>
		<div>
			<h2>rgr</h2>
			<em>dsfvfvr</em>
			<p>
svewv
			</p>
		</div>
		<a href='#0' class='close cd-img-replace'>Close</a>
	</div>

  <div class='cd-project-content' id='project-2'>
    <div>
      <h2>rgr</h2>
      <em>dsfvfvr</em>
      <p>
svewv
      </p>
    </div>
    <a href='#0' class='close cd-img-replace'>Close</a>
  </div>

  <script src='../js/jquery.js'></script>
  <script src='../js/projects.js'></script>

</div>
