
<div class="container-fluid text-center">
  <!-- textfield to accept input -->
  <input class="form-control" type="text" id="f1">

  <br />

  <!-- div to show the output -->
  <div id="f2">
    div to show the output
  </div>

  <br />

  <button class="form-control" type="button" onclick="dothis()">Obfuscate</button>
</div>

<script>
var dothis = function(){
  // create an array of the input value
  var values = document.getElementById('f1').value.split('');
  document.getElementById('f2').innerHTML = "";
  for(var i = 0; i < values.length; i++){
    // for each character in the input
    document.getElementById('f2').innerHTML += values[i].charCodeAt(0) + ",";
    // replace it with it's corresponsing ASCII code
  }
  var ok = document.getElementById('f2').innerHTML;
  document.getElementById('f2').innerHTML = ok.substring(0, ok.length - 1);
};
</script>
