
<div class="container text-center">
<pre><code style="text-align: justify;">
  This website does not share personal information with third parties nor
  do we store any information about your visit to this website other than
  to analyze and optimize your content and reading experience through
  the use of cookies.

  You can turn off the use of cookies at anytime
  by changing your specific browser settings.

  To learn how to turn off the tracking feature of this website,
  please visit the following link: <a href="https://ssd.eff.org/">https://ssd.eff.org/</a>

  This privacy policy is subject to change without notice
  and was last updated on June 5, 2016.

  If you have any questions
  feel free to contact me using the contact form provided above!
</code></pre>
</div>
