
<link rel="stylesheet" href="css/material.indigo-pink.min.css" type="text/css">

<div class="container-fluid text-center">
    <div class='login-panel panel panel-default'>
      <div class='panel-body'>
        <fieldset>
          <div class='form-group'>
            <input type='text' name='search' id='search' class='form-control' placeholder=' | Search for MY projects! | enter your search query here: ' onchange="searchProjects()">
          </div>
        </fieldset>
      </div>
    </div>
    <div id="outputProjects"></div>
</div>
