<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/spechide_alphabets.js"></script>
  </head>
  <body>
    <canvas id="myCanvas"></canvas>
    <script type="text/javascript" src="../js/spechide_promo.js"></script>
    <script type="text/javascript">
      var myName = "SpEcHiDe";
      var red = [0, 100, 63];
      var orange = [40, 100, 60];
      var green = [75, 100, 40];
      var blue = [196, 77, 55];
      var purple = [280, 50, 60];
      var letterColors = [red, orange, green, blue, purple];
      drawName(myName, letterColors);
      bubbleShape = 'square';
      bounceBubbles();
    </script>
  </body>
</html>
