
<div class="container text-center">
  <pre><code style="text-align: justify;">
    By using or downloading any content available on this website,
    you accept and agree to our terms and conditions.

    The main terms of the licence incorporated into the terms and conditions are as follows.
    <ol>
  <li>Unless you have paid for the right to use the relevant content without credit, you must:<ul>
      <li>retain the credit in the content as is; and
      <li>if you publish the content on your website, include a link to <a href="https://shrimadhavuk.me/">https://shrimadhavuk.me/</a> from your website.
    </ul><li>Subject to this point, you may edit and amend the contents provided by this website to render them suitable for your purposes.
  <li>You must not re-publish the contents in unamended form. If you do, you must link back to the location of the original content in your publication.
    All Personally Identifiable Information should be removed from the content provided before publication.
  <li>You must not sell or re-distribute the contents or derivatives thereof, unless there is a <strong>significant</strong> modification done by you.
  <li>The content is provided AS IS without any gurantee of any form, without even the implied gurantee of MERCHANTABILITY.
    </ol>
  </code></pre>
</div>
