<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 1</a></strong>
			- It was a pharmacy management system done for my mini project while studying for Bachelor Of Computer Application (BCA).
		</h4>
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 2</a></strong>
			- It was a visitor management system done for my major project while studying for Bachelor Of Computer Application (BCA).
		</h4>
    	<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
			- It is a EDUGURU done for my mini project while studying for Master of Computer Application (MCA).
		</h4>
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>
			- It is a web app which helps Mozilla Kerala community to showcase the apps developed by community members.
		</h4>

    </div>
  </div>
</div>
</section>
